body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 0 auto;
  background-color: #FEA2CB;
  background-image: url("clock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:left;
  text-align: center;
}

h1 {
  font-size: 100px;
  text-shadow: 4px 3px 0 #7A7A7A;
}

.container {
  margin: 60% auto;
}

button {
  display: inline;
  background-color: #f9b942;
  border: 0;
  border-radius: 10px;
  box-shadow: 4px 3px 0 #7A7A7A;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}
